@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body{
  background: #595353;
}
h1{
  color: rgb(247, 241, 242);
  text-align: center;
 font-weight: 700;
  
}
.card {
  background-color: rgb(208, 212, 207);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #f0f0f0;
}
